* {
  margin: 0;
  padding: 0;
  list-style: none;
}
@font-face {
  font-family: 'YouSheTiBiaoHei';
  src: url('../fonts/YouSheBiaoTiHei-2.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/UbuntuMono-R.ttf') format('truetype');
}

html, body {
  height: 100%; /* 使 html 和 body 的高度为 100% */
  margin: 0; /* 去除默认的边距 */
}

.content {
  background-image: url(./images/learnMore.jpg);
  background-size: cover; /* 填充整个页面 */
  background-position: center; /* 背景图居中 */
  background-repeat: no-repeat; /* 防止背景图重复 */
  height: 100%; /* 确保 .content 的高度为 100% */
}

.content ul {
  display: flex;
}

ul li a {
  display: block;
  margin-top: 10px;
  margin-left: 50px;
  width: 130px;
  height: 70px;
  border-radius: 10%;
  text-decoration: none;
  font-size: 25px;
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
  line-height: 70px;
  font-family: 'YouSheTiBiaoHei', sans-serif;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  color: #000;
}

.content .text {
  margin-top: 300px;
  margin-left: 110px;
  width: 1750px;
  height: 450px;
  font-size: 50px;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  
}
